/* Login.css */

.container {
    margin-top: 5rem;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .cont {
    width: 30rem;
    margin: 0 auto;
  }
  
  .form-label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-control {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.5rem;
  }
  
  .btn-outline-primary {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    transition: background-color 0.3s ease;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }
  